<div class="row">
  <mat-toolbar color="primary">
    <div class="ml-5">
      <span
        ><img src="../assets/azurian.png" width="220px" height="150px" />
      </span>
    </div>
  </mat-toolbar>
</div>
<div class="row">
  <div class="col-md-4 text-center">
    <mat-list>
      <mat-list-item *ngFor="let route of routes">
        <div mat-line [routerLink]="[route.url]" class="nav-link">
          <span>
            <mat-icon mat-list-icon>{{ route.icon }}</mat-icon>
          </span>
          {{ route.name }}
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <!--ROUTING-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
