<div class="row">
  <mat-form-field
    class="search-form-field"
    floatLabel="never"
    class="col-md-10 offset-md-1 my-2"
  >
    <input
      matInput
      [(ngModel)]="searchKey"
      placeholder="Buscar..."
      autocomplete="off"
      (keyup)="applyFilter()"
    />
    <button
      mat-button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      *ngIf="searchKey"
      (click)="onSearchClear()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="row">
  <div
    class="example-container mat-elevation-z8 animated fadeInDown friendtable col-md-10 offset-md-1"
  >
    <mat-table [dataSource]="listData" #table matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >name</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >gender</mat-header-cell
        >
        <mat-cell *matCellDef="let element">{{ element.gender }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="onEditForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(row)">
            <mat-icon>delete_outline</mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            [routerLink]="['/friends/' + row.id]"
          >
            <mat-icon>launch</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <ng-container *ngIf="false">
        <mat-footer-row
          *matFooterRowDef="['loading']"
          [ngClass]="{ hide: noData }"
        ></mat-footer-row>
        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{ hide: noData }"
        ></mat-footer-row>
      </ng-container>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 1, 25, 100]"
      [pageSize]="5"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
<div class="row">
  <ng-container *ngIf="edit">
    <app-friend-edit
      [name]="name"
      [gender]="gender"
      [edit]="edit"
      [id]="id"
      (cambio)="onSaveForm($event)"
      class="col-md-10 offset-md-1 my-2"
    ></app-friend-edit>
  </ng-container>
  <ng-container *ngIf="save">
    <app-friend-add class="col-md-10 offset-md-1 my-2"></app-friend-add>
  </ng-container>
</div>
